@using Paging


@model WakeOnLAN.ViewModel.FilteredHostListViewModel

<script src="@Url.Content("~/Scripts/Views/wol.js")" type="text/javascript" defer></script> 



<fieldset>
    <legend>Фильтр</legend>
    <table>
        <tr>
        <td>@Html.Label("Хост:")</td>
        <td>@Html.TextBox("nameFilter",Model.HostFilter, new {@id="nameFilter"})</td>
            </tr>
    </table>
</fieldset>  
  @if (Model != null)
  {
    
      {
          Html.RenderPartial("Hosts", Model);
      }

      <script type="text/javascript" defer>

          function search(force) {
              var existingString = $("#nameFilter").val();
              if (!force && existingString.length < 1) return; //wasn't enter, not > 2 char
              $.ajax({
                      url: '@Url.Action("Hosts", "Wol")',
                      type: "GET",
                      data: { name: existingString, count: @Html.Raw(Model.Hosts.PageSize), page: 1 },
                      dataType: "html",
                      success:
                          function(data) {

                              $('div#wol-hosts-filtered-paged').html(data);
                              $('#wol-hosts-filtered-paged').show();
                          }
                  }
              );
          }
      </script>
  }