

@using Web.Ajax.Paging
@model Web.Ajax.Paging.IPagedList<KeyValuePair<string, List<Network.Computer.Enumerate.DL.HostResult>>>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список компьютеров в локальной сети</title>
</head>
<body>
    <div id="commentindexpage">
       
        @if (Model != null)
        {
            @Html.Pager(Model.PageSize, Model.PageNumber - 1, Model.TotalItemCount)        
            if (Model.Any()) 
            {
                <table class="list">
                    <tbody>               
                        @{foreach (var host in Model)
                          {
                             foreach (var c in host.Value)
                             {
                                 <tr>
                                     <td>@host.Key</td>
                                     <td>@c.IpAddress</td>
                                     <td>@c.MACAddress</td>
                                 </tr>
                             }                        
                          }
                        }
                    </tbody>
                </table>
                @Html.Pager(Model.PageSize, Model.PageIndex - 1, Model.TotalItemCount)           
            }
        }
    </div>

</body>
</html>
